/* Responsive Web Design */

[class*="RWD-"] {
    width: 100%;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    .RWD-600px-1 {width: 8.33%;}
    .RWD-600px-2 {width: 16.66%;}
    .RWD-600px-3 {width: 25%;}
    .RWD-600px-4 {width: 33.33%;}
    .RWD-600px-5 {width: 41.66%;}
    .RWD-600px-6 {width: 50%;}
    .RWD-600px-7 {width: 58.33%;}
    .RWD-600px-8 {width: 66.66%;}
    .RWD-600px-9 {width: 75%;}
    .RWD-600px-10 {width: 83.33%;}
    .RWD-600px-11 {width: 91.66%;}
    .RWD-600px-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .RWD-768px-1 {width: 8.33%;}
    .RWD-768px-2 {width: 16.66%;}
    .RWD-768px-3 {width: 25%;}
    .RWD-768px-4 {width: 33.33%;}
    .RWD-768px-5 {width: 41.66%;}
    .RWD-768px-6 {width: 50%;}
    .RWD-768px-7 {width: 58.33%;}
    .RWD-768px-8 {width: 66.66%;}
    .RWD-768px-9 {width: 75%;}
    .RWD-768px-10 {width: 83.33%;}
    .RWD-768px-11 {width: 91.66%;}
    .RWD-768px-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    .RWD-1024px-1 {width: 8.33%;}
    .RWD-1024px-2 {width: 16.66%;}
    .RWD-1024px-3 {width: 25%;}
    .RWD-1024px-4 {width: 33.33%;}
    .RWD-1024px-5 {width: 41.66%;}
    .RWD-1024px-6 {width: 50%;}
    .RWD-1024px-7 {width: 58.33%;}
    .RWD-1024px-8 {width: 66.66%;}
    .RWD-1024px-9 {width: 75%;}
    .RWD-1024px-10 {width: 83.33%;}
    .RWD-1024px-11 {width: 91.66%;}
    .RWD-1024px-12 {width: 100%;}
}