* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background-color: #212121;
    color: #fff;
}

/* --- Cały kontent strony --- */

#content {
    background-color: #E2DFD2;
}

#buttons {
    margin: 0;
    padding: 10px;
}

.button {
    padding: 8px;
    margin: 0 0 7px 0;
    background-color: rebeccapurple;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button:hover {
    background-color: purple;
    cursor: pointer;
}

article {
    margin-inline: auto;
}

article > p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

aside {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

#aside-div-padding {
    padding: 25px;
    background-color: #33b5e5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: #212121;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

/* Atrybuty nagłówków */

h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

h4 {
    margin: 0;
    padding: 0;
}